.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

body {
  background-color: #0c343d;
}

.backButton {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  top: 95px;
  left: 30px;
  z-index: 10;
}
